/* PRIMARY BRANDING  */


$black: #000;
$white: #fff;
$white_90: rgba(255,255,255,.9);
$lightest_grey: #f3f3f3;
$lighter_grey: #a3a3a3;
$light_grey: #606060;
$medium_grey: #353535;
$dark_grey: #171717;
$green: green;

/* FLAT COLORS */
$flat_green: #27ae60;
$flat_red: #c0392b;
$flat_purple: #8e44ad;
$flat_orange:#d35400;
$flat_blue: #2980b9;
$flat_grey: #7f8c8d;


/* TEXT */


