[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
Flask = "==0.12.2"
Flask-Assets = "==0.12"
Flask-Babel = "*"
Flask-Login = "*"
Flask-Mail = "*"
Flask-Migrate = "==2.1.1"
Flask-SQLAlchemy = "==2.3.2"
Flask-Script = "*"
Flask-Uploads = "*"
Flask-User = "*"
Flask-WTF = "*"
Jinja2 = "==2.10"
Mako = "==1.0.7"
MarkupSafe = "==1.0"
PyJWT = "*"
WTForms = "==2.1"
Werkzeug = "==0.13"
alembic = "==0.9.6"
bs4 = "*"
click = "==6.7"
dominate = "==2.3.1"
feedparser = "*"
itsdangerous = "==0.24"
jsmin = "*"
livereload = "==2.5.1"
lxml = "*"
psycopg2 = "*"
pyScss = "*"
python-dateutil = "==2.6.1"
python-editor = "*"
python-nvd3 = "*"
requests = "*"
slugify = "*"
tornado = "==4.5.2"
visitor = "==0.1.3"
webassets = "==0.12.1"
SQLAlchemy = "<1.2"
