[[source]]
url = "https://pypi.python.org/simple"
verify_ssl = true

[packages]
psycopg2 = "*"
django-bootstrap3 = "*"
easy-thumbnails = "*"
Django = "*"
feedparser = "*"
python-slugify = "*"
bs4 = "*"

[dev-packages]
django-debug-toolbar = "*"
autopep8 = "*"
django-extensions = "*"
