{% extends "layouts/base.html"%}
{% block title %}Verb practice: {%endblock %}

{% block content %}
<div id='verblistContainer' class='col-xs-12 col-md-8'>
  <form>
    <input id='answerBox' name='answer' type='text' id='autocomplete' class='form-control input-lg' placeholder='answer' value=''/>
    <input class="btn btn-primary" id="answerButton" name="submit" type="submit" value="Submit">
  </form>
</div>
<div class='col-xs-12 col-sm-4'>
  <div id='lastWord'  class='correct'></div>
  <div id='lastWord' class='incorrect'></div>
</div>
{% endblock %}

{% block extra_js %}
<script>
$(document).ready(function() {
  createVerblist();
});
createVerblist = function() {
  var listContainer = $('#verblistContainer');
  $.getJSON('/words/verbs/practice', {'load_list': 'True'}, function(data) {
    $.each(data, function(index, value){
      if (index===0) {activate=' active'}else{activate=''};
      listContainer.prepend('<ul class=\'list-unstyled verb-list'+activate+'\' data-pron=\''+value.pronoun+'\' data-verb=\''+value.hr_word+'\' data-tense=\''+value.verb_tense+'\' data-hr_id=\''+value.def_id+'\'><li class=\'\' id=\''+value.def_id+'\'><h1>'+value.hr_word+'</h1></li><li class=\'definitions\'>'+value.en_words.join(',')+'</li><li class=\'challenge\'>Conjugate in '+value.verb_tense+' using '+value.pronoun+'</li></ul>');
    })
  });
  var numLeft = $('.verb-list').length;
}
$('#answerButton').click(function() {
  event.preventDefault();

  var pronoun = $('.verb-list.active').data('pron');
  var verb_tense = $('.verb-list.active').data('tense');
  var verb = $('.verb-list.active').data('verb');
  var hr_id = $('.verb-list.active').data('hr_id');
  var answer = $('#answerBox').val();

  var numLeft = $('.verb-list').length;
  $('.verb-list.active').remove();
  $('.verb-list').first().addClass('active');
  $.getJSON('/words/verbs/check', {'pronoun':pronoun, 'verb':verb, 'verb_tense':verb_tense, 'answer':answer, 'hr_id':hr_id}, function(data, response) {
    $('#lastWord.'+data.grade).prepend('<li><span id=\''+data.hr_id+'\' class=\'hr-term\' data-add=\'add\'>'+data.verb+'</span></li>');
  })
  if (numLeft < 2){
    createVerblist();
  }

});
</script>
{% endblock %}


