$black: #000;
$black_90: rgba(0,0,0,.9);
$white: #fff;
$white_90: rgba(255,255,255,.9);
$lightest_grey: #e5d5d5;
$lighter_grey: #a3a3a3;
$light_grey: #7e7e7e;
$medium_grey: #353535;
$dark_grey: #383838;

$light_blue: #045091;
$red: #ca0000;
$purple: #8e2893;
$green: #0a6e00;
