/* PRIMARY BRANDING  */
html, body, button, input, textarea {
  font-family: 'PT Sans', Arial, sans-serif;
  color: $black;
  font-size: 16px;
}
h1,h2,h3,h4,h5 {
  font-family: 'PT Mono', Arial, sans-serif;
}
a {
  text-decoration: none;
  color: $light_blue;
  @include fade_transition;
  &:hover, &:focus, &:active {
    color: $red;
    text-decoration: none;
  }
  &:visited {
    color: $purple;
  }
}
h1 {
  font-size: 2.7em;
}

