form {
  max-width: 500px;
  img {
    max-width: 150px;
    margin: 10px 0;
    display: block;
    clear: both;
  }
  textarea.form-control {
    height: 120px;
  }
}
input[type='text'] {
  border-radius: 0;
}
input[type='submit'] {
  border-radius: 0;
  margin-top: 10px;
}

