{% extends "layouts/base.html" %}
{% block title %}New Feed: {%endblock %}

{% block content %}
  {% if current_user.is_authenticated and current_user.has_role('admin') %}
    <h1> {{ 'Edit' if 'edit' in request.url_rule.rule else 'New' }} Feed</h1>
    <form action="" method="post" name="feed" enctype="multipart/form-data">
      {{ form.csrf_token() }}
      <div class='form-group'>
        {{ form.hr_term.label }}
        {{ form.hr_term(class='form-control', placeholder='HR term') }}
			  {% for error in form.hr_term.errors %}
				  <span style="color: red;">[{{ error }}]</span>
				{% endfor %}
      </div>
      <div class='form-group'>
        {{ form.en_term.label }}
        {{ form.en_term(class='form-control', placeholder='EN term') }}
			  {% for error in form.en_term.errors %}
				  <span style="color: red;">[{{ error }}]</span>
				{% endfor %}
      </div>
      <div class='form-group'>
        {{ form.type_id.label }}
        {{ form.type_id(class='form-control', placeholder='Verb Type') }}
			  {% for error in form.type_id.errors %}
				  <span style="color: red;">[{{ error }}]</span>
				{% endfor %}
      </div>
      <div class='form-group'>
        {{ form.submit(class='btn btn-primary') }}
      </div>
    </form>
  {% endif %}
{% endblock %}


{% block extra_js %}
{% endblock %}


