.text-column {
  p {
    font-size: 1.3em;
  }
  ul.glossary {
    color: $dark_grey;
    text-align: center;
    padding: 30px 10px;
    line-height: 1.8em;
    span.hr-term { font-weight: 700; }
    span.en-term { }
  }
}


