img {
  max-width: 100%;
}

ul#messages {
  height: 30px;
  list-style-type: none;
  text-align: center;
  position: relative;
  overflow: hidden;
  @include center_obj;
  li {
    color: $red;
    padding: 10px;
    }
  }
}
