nav.navbar.navbar-default.navbar-static-top {
  background: $white;
  color: $black;
  margin-bottom: 0;
  font-size: 1.2em;
  a {
    color: $black;
    &:hover, &:focus, &:active {
      color: $light_blue;
    }
  }
}
