.ui-helper-hidden-accessible {
  display: none;
}
input#autocomplete {
  max-width: 500px;
}
div#search_results {
  @include centerobj;
  text-align: center;
  margin: 20px;
  input {
  }
}
#dict_form {
  max-width: 500px;
  @include centerobj;
  #dict_choice {
    color: $light_grey;
    height: 30px;
    margin-bottom: 10px;
    .dict_dir {
      &:hover {
        color: $light_blue;
      }
      &.active {
        color: $black;
        font-size: 1.4em;
      }
    }
  }
}
ul#ui-id-1 {
  padding-top: 5px;
  list-style-type: none;
	max-width: 50%;
	max-height: 500px;
  color: $light_grey;
  li:hover {
    color: $black;
  }
}
.verb-list {
  display: none;
  &.active {
    display: block;
  }
}
ul.glossary.dictionary {
  text-align: center;
}
  #skipButton {
    margin-left: 20px;
  }
