<!DOCTYPE html>
{% load bootstrap3 %}
{% load staticfiles %}

<html{% if LANGUAGE_CODE %} lang="{{ LANGUAGE_CODE }}"{% endif %}>
	<head>
			<meta charset="utf-8">
			<!--[if IE]><meta http-equiv="X-UA-Compatible" content="IE=edge" /><![endif]-->
			<meta name="viewport" content="width=device-width, initial-scale=1">
      <meta name="description" content="{% block meta_description %}{% endblock %}">
      <meta name="author" content="{% block meta_author %}{% endblock %}">

      <link rel="icon" type="image/png" href="{% static 'img/favicon.ico' %}" />

			<title>{% block title %}UCITELJ{% endblock %}</title>
			{% bootstrap_css %}
      <link rel="stylesheet" href="{% static 'css/style.css' %}">

		  {% block extra_css %}{% endblock %}
      <script src="{% static "js/jquery-3.2.1.min.js" %}"></script>
	</head>

	<body>
      {% include "shared/nav.html" %}
      {% include "shared/header.html" %}
      {% block content %}
      {% endblock %}
      {% include "shared/footer.html" %}
			{% bootstrap_javascript jquery=True %}
		  {% block extra_js %}{% endblock %}
	</body>
</html>
