{% extends "layouts/base.html" %}
{% block title %}Feeds: {%endblock %}

{% block content %}
  {% if current_user.is_authenticated and current_user.has_role('admin') %}
    <ul class='list-unstyled admin'>
      <li><a href="{{ url_for('feeds.new') }}">add new</a></li>
    </ul>
  {% endif %}
  {% for f in feeds %}
		<div class='col-xs-12 feed-list'>
			<div class='col-xs-6 col-sm-2'>
				<a href="{{ url_for('feeds.show', feed_slug=f.slug) }}"><img src="/static/public/uploads/feeds/{{ f.logo_filename }}" /></a>
			</div>
			<div class='col-xs-6 col-sm-10 feed-item'>
				<h3><a href="{{ url_for('feeds.show', feed_slug=f.slug) }}">{{ f.name }}</a></h3>
        {% if current_user.is_authenticated %}
					<span class='subButton btn {% if f.id in user_subs %}subbed{%endif%}' data-feed='{{ f.id }}' data-sub='{% if f.id in user_subs %}unsub{% else %}sub{%endif%}'> + </span>
        {% endif %}
				<p class='about-feed'>{{ f.about }}</p>
			</div>
		</div>
  {% endfor %}
{% endblock %}


{% block extra_js %}
{% assets filters="rjsmin", output="public/js/feeds.js", "js/feeds.js" %}
	<script type="text/javascript" src="{{ ASSET_URL }}"></script>
{% endassets %}
{% endblock %}

