{% extends "layouts/base.html" %}
{% block title %}Feed: {{ f.name }} : {%endblock %}

{% block content %}
  <div class='col-xs-12'>
  {% if current_user.is_authenticated and current_user.has_role('admin') %}
    <ul class='list-unstyled admin'>
      <li><a href="{{ url_for('feeds.edit', feed_id=f.id) }}">edit feed</a></li>
    </ul>
  {% endif %}
    <div class='col-xs-3'>
			<img src="/static/public/uploads/feeds/{{ f.logo_filename }}" />
    </div>
    <div class='col-xs-9'>
      <h1>{{ f.name }}</h1>
      <p>{{ f.country }}</p>
      <p>{{ f.about }}</p>
    </div>
  </div>

<div class='col-xs-12'>
  {% for year, year_group in fa|groupby('date.year')|reverse %}
    {% for month, month_group in year_group|groupby('date.month')|reverse %}
      {% for day, list in month_group|groupby('date.day')|reverse %}
          <ul class='list-unstyled article-list'>
            <li>{{ day }}/{{ month }}/{{ year }}</li>
            {% for a in list %}
              <li><a href='/articles/{{ a.id }}/{{ a.slug }}'>{{ a.title }}</a>
            {% endfor %}
          </ul>
      {% endfor %}
    {% endfor %}
  {% endfor %}
</div>

{% endblock %}


{% block extra_js %}
{% endblock %}


