@import "modules/colors";
@import "modules/mixins";
@import "modules/fonts";
@import "modules/forms";

@import "partials/common";
@import "partials/navbar";
@import "partials/header";
@import "partials/footer";
@import "partials/feeds";
@import "partials/articles";
@import "partials/words";

