{% extends "articles/articlebase.html" %}
{% load thumbnail %}

{% block articlecontent %}
    {% regroup articles by feed_id as feed_list %} 
    {% for feed in feed_list %}
        {% for a in feed.list|slice:"5"%}
            {% if forloop.counter == 1 %}
            <div class='col-xs-12'>
                <div class='col-xs-2'>
                  <a href="/feeds/{{ a.feed.slug }}/">
                    <img src="/{{ a.feed.logo| thumbnail_url:'square'}}" />
                  </a>
                </div>
                <div class='col-xs-10'>
                <h2 class='feed-title'>
		          <a href="/feeds/{{ a.feed.slug }}/">{{ a.feed.name }}</a>
                </h2>
                </div>
            </div>
            {% endif %}
            <div class='col-xs-12'>
                <a href="/articles/{{ a.slug }}/">
                  {{ a.title }}
                </a>
                <p>{{ a.date }}</p>
            </div>
        {% endfor %}
    {% endfor %}
{%endblock %}
