{% extends "articles/articlebase.html" %}
{% load thumbnail %}
{% block content %}
	{% if article %}
    <div class='container'>
      <h1>
        {{ article.title }}
      </h1>
      <p>{{ article.date }}</p>
      <p>From: <a href='/feeds/{{ article.feed.slug }}'>{{ article.feed.name }}</a></p>
      <a href='{{article.permalink}}' target='_blank'>original article</a>
      <hr />
      <p>{{article.article_text}}</p>
      {% for p in at %}
        <div class='para_{{  forloop.counter }}'>
          {{ p | safe}}
        </div>
        <div class='para_glossary' id='para_{{  forloop.counter }}'></div>
        {% endfor %}
    </div>
	{% else %}
			<p>Article unavailable.</p>
	{% endif %}
{% endblock %}


