{% extends "articles/articlebase.html" %}
{% load thumbnail %}
{% block articlecontent %}
	{% if article %}
    <div class='container'>
      <h1>
        {{ article.title }}
      </h1>
      <p>{{ article.date }}</p>
      <p>
        From: <a href='/feeds/{{ article.feed.slug }}'>{{ article.feed.name }}</a>
        |
        <a href='{{article.permalink}}' target='_blank'>original article</a>
      </p>
      <hr />
      <div class='row'>
        <div class='col-12 col-lg-8' id='article-content'>
          <h2>ARTICLE</h2>
          <p>{{article.article_text}}</p>
          {% for p in at %}
            <div class='para_{{  forloop.counter }}'>
              {{ p | safe}}
            </div>
            {% endfor %}
        </div>
        <div class='col-12 col-lg-4' id='article-glossary'>
            <h2>GLOSSARY</h2>
            <ul class='glossary'>
                {% for g in glossary %}
                  {% for w in g %}
                  {% if forloop.counter == 1 %}
                    <li>{{ w.rijec }} : {{ w.word }}</li>
                  {% else %}
                    <li class='more-definitions'>{{ w.rijec }} : {{ w.word }}</li>
                  {% endif %}
                  {% endfor %}
                {% endfor %}
            {{ wordlist }}
        </div>
      </div>
    </div>
	{% else %}
			<p>Article unavailable.</p>
	{% endif %}
{% endblock %}


