{% extends "layouts/base.html" %}
{% block title %}Article: {{ a.name }} : {%endblock %}

{% block content %}
  <h1>{{ a.title }}</h1>
  <p>{{ a.date.strftime('%b %d, %Y') }}</p>
  <p>
    From: <a href='/feeds/{{ a.feed.slug }}'>{{ a.feed.name }}</a>
    |
    <a href='{{a.permalink}}' target='_blank'>original article</a>
  </p>
  <div class='col-xs-12 col-md-8 text-column'>
    <p>{{ at|safe }}</p>
  </div>
  <div class='col-xs-12 col-md-4'>
    <ul class='list-unstyled'>
      {% for dd in g %}
        {%  for d in dd %}
          <li id='{{ d.id  }}'>{{ d }}</li>
        {% endfor %}
      {% endfor %}
    </ul>
  </div>
{% endblock %}


{% block extra_js %}
{% endblock %}



