{% extends "layouts/base.html" %}
{% block title %}Article: {{ a.title }} : {%endblock %}

{% block content %}
<h1>{{ a.title }}</h1>
  <p>{{ a.date.strftime('%b %d, %Y') }}</p>
  <p>
    From: <a href='/feeds/{{ a.feed.slug }}'>{{ a.feed.name }}</a>
    |
    <a href='{{a.permalink}}' target='_blank'>original article</a>
  </p>
  <div class='col-xs-12 col-md-10 text-column'>
    {% for p in at.split('</p><p>') %}
      {% for def in glossary.paragraphs[loop.index - 1].definitions %}
        <ul class='list-inline glossary'>  
          {% for d in def %}
          <li id='{{ d.def_id }}'>
              <span class='hr-term'>{{ d.hr_word }}: </span>
              <span class='en-term'>{{ d.en_words|join(', ') }}</span>
            </li>
          {% endfor %}
        </ul>  
      {% endfor %}
      <p>{{ p|safe }}</p>
    {% endfor %}
  </div>
  <div class='col-xs-12 col-md-2'>
  </div>
{% endblock %}


{% block extra_js %}
{% endblock %}



