#feed {
  #feedlist {
    .container .feed-item{
      overflow: hidden;
      padding: 10px 0;
      border-bottom: 1px solid $lightest-grey;
      p {
        padding-top: 10px;
      }
      button{
        color: $white;
        height: 10px;
        width: 10px;
        padding: 0;
        border-radius: 100%;
        margin-top: 5px;
        &.subbed {
          background: $flat_green;
        }
      }
    }
  }
}
